@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary-hue: 230;
  --background-secondary: 16 17 20;
  --background-tertiary: 24 24 26;
  --border-subtle: 31 31 35;
  --text-secondary: 200 201 209;
  --text-tertiary: 119 122 140;
  --translation-text-color: 242 195 102;
  --increase: 47 227 172;
  --decrease: 236 57 122;
  --increase-hover: 91 231 189;
  --decrease-hover: 248 100 154;
  --chart-up: 11 153 129;
  --chart-down: 242 53 70;
  --primary-yellow: 220 193 60;
  --primary-orange: 226 124 77;
  --primary-orange-hover: 238 146 103;
  --primary-red: 242 84 97;
  --primary-light-blue: 82 197 255;

  --background: rgb(6, 7, 11);
  --foreground: rgb(252, 252, 252);
  --primary: rgb(82, 111, 255);
  --primary-hover: rgb(102, 131, 255);
  --secondary-foreground: rgb(82, 111, 255);
  --accent: rgb(34 36 45);
  --accent-bright: rgb(50, 53, 66);
  --border: rgb(34 36 45);
  --primary-green: rgb(18, 175, 128);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-bright: var(--accent-bright);
  --color-primary-green: var(--primary-green);
  --font-primary: var(--font-geist-sans);
}

@layer base {
  * {
    @apply border-current outline-current;
  }
}
